dataframe_image
docx
fpdf
geopy
holidays
ipykernel
matplotlib
nbformat
numpy
numpy_financial
openpyxl
pandas
plotly
pvlib
python_docx
PyYAML
ruamel.base
simple_colors
tqdm
xlwings
ruamel.yaml
scipy
xlsxwriter
kaleido
